body {
  padding: 0;
  margin: 0;
  background-color: #98e7e7;
  color: #0a3369fd;
}
section {
  position: relative;
  margin: 0% 15% 0% 15%;
  padding: 0 10% 0 10%;
  border-bottom: 2px solid #0a3369fd;
}
img {
  width: 20%;
  border-radius: 100%;
  position: absolute;
  float: left;
  margin-top: 5%;
  display: inline-block;
}
.cv__branch {
  width: 60%;
  text-align: center;
  left: 20%;
  margin-left: 40%;
}
.cv__data {
  width: 50%;
  margin-left: 30%;
  position: relative;
  margin-right: 0%;
  padding: 5px;
}

.left-side {
  font-weight: bold;
}
.right-side {
  color: rgb(56, 56, 56);
  width: 400%;
}
.education {
  margin-left: 0;
  text-align: justify;
  display: inline-block;
}
.edu {
  margin-left: 0;
  text-align: justify;
  display: inline-block;
  width: 120%;
}
